* { margin: 0; padding: 0; }
body {
    font-family: georgia;
    height: 100vh;
    color: #571A1B;
}
@font-face {
    font-family: georgia;
    src: url('../static/fonts/georgia.ttf');
}
a {
    text-decoration: none;
    color: #571A1B;
}


header {
    display: flex;
    flex-direction: row;
    width: 65%;
    height: fit-content;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.logo {
    display: flex;
    flex-direction: row;
    p { font-size: 18px; }
    img { width: 55px; }
    .logo-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
nav {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    width: 45%;
    p {
        margin-left: auto;
        font-size: 18px;
    }
    p:first-of-type {
        margin-left: 0;
    }
}


main {
    #name {
        width: 65%;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        gap: 5%;
        #name-text {
            margin-top: 13%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 50%;
            h2 { font-size: 40px; }
            h1 { font-size: 80px; }
            button {
                margin-top: 10px;
                font-family: georgia;
                font-size: 25px;
                width: fit-content;
                padding: 10px 20px;
                border-radius: 20px;
                border-bottom-right-radius: 0;
                border: 0;
                background-color: #D0BCB9;
                color: white;
            }
            button:hover {
                cursor: pointer;
            }
        }
        img {
            width: 45%;
            border-radius: 60px;
            border-bottom-left-radius: 0;
        }
    }


    #about {
        display: flex;
        flex-direction: row;
        margin-top: 60px;
        width: 100%;
        height: 100vh;
        background-color: #D0BCB9;
        color: white;
        #about-text {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            div {
                margin-top: auto;
                margin-bottom: auto;
                display: flex;
                flex-direction: row;
                width: 80%;
                gap: 80px;
                p {
                    font-size: 24px;
                    width: 50%;
                }
                h1 {
                    position: absolute;
                    font-size: 8vw;
                    text-align: center;
                    right: 22%;
                }
            }
            #main-about-text {
                p {
                    width: 20%;
                }
            }
        }
    }


    #catal {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        h1 {
            margin-top: 60px;
            margin-left: 30px;
            margin-bottom: 30px;
            font-size: 7vw;
        }
        #list {
            width: 100%;
            display: flex;
            flex-direction: row;
            p { font-size: 28px; }
            #arrow {
                margin-top: 200px;
                height: fit-content;
                display: flex;
                flex-direction: row;
                gap: 10px;
                img {width: 40px;}
                p {font-size: 24px;}
            }
            .element {
                width: 100%;
                img {
                    width: 90%;
                    border-radius: 10%;
                }
                .info {
                    margin-top: 8px;
                    display: flex;
                    flex-direction: row;
                    margin-left: 10%;
                    width: calc(90% - 20%);
                    height: fit-content;
                    align-items: center;
                    p { font-size: 24px; }
                    .colors {
                        display: flex;
                        flex-direction: row-reverse;
                        margin-left: auto;
                        .col {
                            margin-left: -10px;
                            width: 34px;
                            height: 34px;
                            border-radius: 17px;
                            box-shadow: rgba(0, 0, 0, 0.30) 4px 4px 10px;
                        }
                        .white  { background-color: #FAFAFA; }
                        .yellow { background-color: #F4E4D2; }
                        .gray   { background-color: #DADCE3; }
                    }
                }
            }
        }
    }


    #cont {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        margin-bottom: 100px;
        h1 { font-size: 7vw; }
        #cont-div {
            margin-top: 20px;
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: row;
            #cont-info {
                display: flex;
                flex-direction: column;
                h2 {
                    font-size: 40px;
                    margin-bottom: 10px;
                    color: #D0BCB9;
                }
                p {
                    font-size: 22px;
                }
                #phone {
                    margin-top: 40px;
                }
                #cont-icons {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-top: auto;
                    margin-bottom: 30px;
                    gap: 30px;
                    #vk { height: 50px; }
                    #inst { height: 60px; }
                }
            }
            #map {
                width: 525px;
                margin-left: auto;
                border-radius: 20px;
            }
        }
    }
}


footer {
    background-color: #D0BCB9;
    #footer {
        height: 180px;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        color: white;
        #footer-name {
            .logo { margin-top: 20px; }
            #footer-p { margin-top: 10px; }
        }
        #footer-info {
            width: 45%;
            margin-left: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            nav {
                margin-left: 0;
                width: 100%;
            }
            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                height: fit-content;
                gap: 10px;
                p {margin-right: auto; margin-bottom: auto;}
                #vk-a img {height: 35px;}
                #inst-a img {height: 40px;}
            }
        }
    }
}










@media only screen and (max-width: 1270px) {
header {
    width: 80%;
}
main {
    #name {
        width: 80%;
    }
    #about {
        img {
            margin-left: -20vh;
        }
    }
    #catal {
        width: 80%;
        #list .element .info .colors .col {
            width: 28px;
            height: 28px;
        }
    }
    #cont {
        width: 80%;
    }
}
footer #footer {
    width: 80%;
}
}



























