{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Чарующая Грация</title>
    <meta name="description" content="Описание в поисковике"/>
    <meta property="og:title" content="Чарующая Грация"/>
    <meta property="og:description" content="Описание в соц-сетях"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <!--<script type="text/javascript" src="{% static 'home.js' %}" defer></script>-->
</head>

<body>
    <header>
        <div class="logo">
            <img src="{% static 'logo.svg' %}">
            <div class="logo-text">
                <p>Чарующая</p>
                <p>Грация</p>
            </div>
        </div>
        <nav>
            <p>О НАС</p>
            <p>КАТАЛОГ</p>
            <p>КОНТАКТЫ</p>
        </nav>
    </header>
    <main>
        <div id="name">
            <div id="name-text">
                <h2>Свадебные и вечерние платья</h2>
                <h1>Чарующая Грация</h1>
                <button><p>Подробнее</p></button>
            </div>
            <img src="{% static 'name.png' %}">
        </div>
        <div id="about">
            <img src="{% static 'about.png' %}">
            <div id="about-text">
                <div id="main-about-text">
                    <p>• Наши платья - это не просто одежда.</p>
                    <h1>О нас</h1>
                </div>
                <div>
                    <p>• Это произведения искусства, которые  рождаются в результате бесконечного поиска, творческих экспериментов и  стремления к совершенству на собственном производстве.</p>
                    <p>• Нам важно создать для Вас легкую, уютную и непринужденную атмосферу, чтобы выбор платья стал незабываемым моментом.</p>
                </div>
                <div><p>• Индивидуальный пошив.</p></div>
                <div>
                    <p>• Оптовые продажи от 3х единиц, подберем свадебные и вечерние платья для вашего салона из наличия или под заказ.</p>
                    <p>• Вас ждёт интересный выбор платьев по привлекательным ценам.</p>
                </div>
            </div>
        </div>
        <div id="catal">
            <h1>Каталог</h1>
            <div id="list">
                <div class="element">
                    <img src="{% static 'name.png' %}">
                    <div class="info">
                        <p>Молли</p>
                        <div class="colors">
                            <div class="col gray"></div>
                            <div class="col yellow"></div>
                            <div class="col white"></div>
                        </div>
                    </div>
                </div>
                <div class="element">
                    <img src="{% static 'name.png' %}">
                    <div class="info">
                        <p>Молли</p>
                        <div class="colors">
                            <div class="col gray"></div>
                            <div class="col yellow"></div>
                            <div class="col white"></div>
                        </div>
                    </div>
                </div>
                <div class="element">
                    <img src="{% static 'name.png' %}">
                    <div class="info">
                        <p>Молли</p>
                        <div class="colors">
                            <div class="col gray"></div>
                            <div class="col yellow"></div>
                            <div class="col white"></div>
                        </div>
                    </div>
                </div>
                <a href="" id="arrow">
                    <p>Все</p>
                    <img src="{% static 'arrow.svg' %}">
                </a>
            </div>
        </div>
        <div id="cont">
            <h1>Контакты</h1>
            <div id="cont-div">
                <div id="cont-info">
                    <h2>Ждем вас по адресу</h2>
                    <p>г. Тамбов,</p>
                    <p>ул Коммунальная,</p>
                    <p>21А/29</p>
                    <h2 id="phone">Телефон</h2>
                    <p>+7 910 853-47-77</p>
                    <div id="cont-icons">
                        <a href=""><img id="vk" src="{% static 'vk.svg' %}"></a>
                        <a href=""><img id="inst" src="{% static 'inst.svg' %}"></a>
                    </div>
                </div>
                <img id="map" src="{% static 'map.png' %}">
            </div>
        </div>
    </main>
    <footer>
        <div id="footer">
            <div id="footer-name">
                <div class="logo">
                    <img src="{% static 'logo_white.svg' %}">
                    <div class="logo-text">
                        <p>Чарующая</p>
                        <p>Грация</p>
                    </div>
                </div>
                <p id="footer-p">(C) 2024 "Чарующая Грация"</p>
            </div>
            <div id="footer-info">
                <nav>
                    <p>О НАС</p>
                    <p>КАТАЛОГ</p>
                    <p>КОНТАКТЫ</p>
                </nav>
                <p>г Тамбов, ул Коммунальная, 21А/29</p>
                <div>
                    <p>+7 910 853-47-77</p>
                    <a id="vk-a" href=""><img src="{% static 'vk_white.svg' %}"></a>
                    <a id="inst-a" href=""><img src="{% static 'inst_white.svg' %}"></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
